.deslizante {
  height: 120px;
  display: none;
}

.deslizante, .mostrar, .ocultar, .mostrar-ocultar {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: #ccc;
  border: 1px solid orange;
  cursor: pointer;
}

#cuadro {
  background-color: greenyellow;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
